.adopt-page {
padding: 20px;
background-color: #f8f9fa; 
}

// Carousel customization
.carousel {
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 450px; //fixed height for carousel images
    overflow: hidden;
  }

  .carousel-item {
    height: 100%;
  }

  .Img1, .Img2, .Img3 {
    object-fit: cover; 
    height: 100%;
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    color: white;
    border-radius: 5px;

    h3 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
