@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$font-family: 'Poppins', sans-serif;
$primary-color: #390510;
$secondary-color: #FFCA93;
$border-radius: 15px;
$hover-color: #FFCA93;
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

.checklist-header {
    padding: 2em 1em;
    color: white;
    font-family: $font-family;
    background-color: $secondary-color;

    h1 {
        font-size: 6vw;
        font-weight: bold;
    }

    .top {
        padding-top: 1em;

        .ampersand {
            font-size: 10vw;
            color: $primary-color;
            transform: translateX(-21.5%) translateY(-70%); /* Adjusted position */
        }
    }

    .bottom {
        margin-top: -2.5em;
    }

    .page-description {
        text-align: left;
        color: white;
        width: 100%;
        margin-bottom: 1em;
        font-size: 3vw;
    }

    .adopt, .care {
        border: 2px solid #fffaf0;
        border-radius: $border-radius;
        background-color: #fffaf0;
        text-decoration: none;
        color: $primary-color;
        padding: .5em;
        box-shadow: $box-shadow;

        &:hover {
            background-color: lighten($hover-color, 15%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.checklist-layout {
    background-color: #fffaf0;

    .space-between {
        padding: 1em;
    }

    #Adopting, #OngoingCare {
        font-family: $font-family;
        display: flex;
        flex-wrap: wrap;
        border-color: #390510;
        align-items: flex-start;
        justify-content: flex-start; /* Aligns content to the left */

        h3 {
            font-size: 4vw;
            font-weight: bold;
            padding-top: 1em;
            color: $primary-color;
            margin-left: 1em;
        }

        .category {
            border-radius: $border-radius;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            
        }

        .no-wrap-paragraph { 
            color: $primary-color; 
            font-size: 3vw; 
            padding-bottom: 1em; 
            margin-left: 1em; 
            text-align: left; /* Ensures the text stays left-aligned */ 
            white-space: normal; /* Allows text to wrap normally */ }
    }

    .checklist-card {
        cursor: auto;
        border-radius: $border-radius;
        margin-bottom: 1em;
        padding: .5em;
        box-shadow: $box-shadow;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 95%;
        max-width: 320px;
        margin: 0 auto;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        }

        .card-header, .card-body {
            background-color: #fffaf0;
            color: $primary-color;
        }
    }

    .checkbox-container {
        display: flex;
        justify-content: flex-start; /* Aligns checkboxes to the left */
        input[type="checkbox"] {
            appearance: none;
            width: 2em;
            height: .75em; /* Increased height for roundness */
            border: 2px solid $secondary-color;
            border-radius: 50%; /* Makes the checkbox round */
            background-color: #fffaf0;
            cursor: pointer;

            &:checked {
                background-color: $primary-color;
                border-color: $primary-color;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 767px) { 
    .checklist-header { 
        padding: 1.5em 1em; 
        
        h1 { 
            font-size: 8vw; 
        } 
        
        .top .ampersand { 
            font-size: 12vw; 
            top: 20%; 
            left: 5%; 
            transform: translate(15%, -90%); 
        } 
        .page-description { 
            font-size: 4vw; 
            
        } 
    } 
    .checklist-layout #Adopting, .checklist-layout #OngoingCare { 
        h3 { 
            font-size: 5vw; 
        } 
        .no-wrap-paragraph { 
            font-size: 4vw; 
        } 
    } 
}

@media (min-width: 768px) {
    .checklist-header {
        padding: 3em 3em 5em 7em;

        h1 {
            font-size: 4vw;
        }

        .top .ampersand {
            font-size: 8vw;
        }

        .page-description {
            font-size: 2vw;
        }
    }

    .checklist-layout #Adopting, .checklist-layout #OngoingCare {
        h3 {
            font-size: 3vw;
        }

        .no-wrap-paragraph {
            font-size: 2vw;
        }
    }
}

@media (min-width: 1024px) {
    .checklist-header {
        padding: 5em 5em 7em 13em;

        h1 {
            font-size: 3vw;
        }

        .top .ampersand {
            font-size: 6vw;
        }

        .page-description {
            font-size: 1.2vw;
        }
    }

    .checklist-layout #Adopting, .checklist-layout #OngoingCare {
        h3 {
            font-size: 2vw;
        }

        .no-wrap-paragraph {
            font-size: 1.5vw;
        }
    }
}
