.fav-container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 400px;
    border: 3px solid #3D0A0A;
    padding: 15px;
    background-color: white;
    border-radius: 10px;

    a {
        text-decoration: none;
        color: inherit;
    }

    .fav-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      padding-right: 15px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c8b4b4;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  

    .clear-btn{
      margin-top: auto;
      align-self: flex-end;
      padding: 8px 16px;
      background-color: #3D0A0A;
      color: white;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .no-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    p {
      font-size: 1.2rem;
      color: #333;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
  
      .inline-heart img {
        width: 24px;
        height: auto;
        vertical-align: middle;
      }
    }
  
    .heart-icon {
      width: 40px;
      height: auto;
    }
  }
  

  .fav-title{
    text-align: center;
    font-weight: bold;
    color: #3D0A0A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .fav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #dcbcbc;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .pet-name {
        font-weight: bold;
        margin: 0;
        font-size: 1rem;
        color: #3D0A0A;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
      }
    &:hover {
        background-color: #fffaf0;
        border: 2px solid #3D0A0A;
    }
  }
 
  .paw-icon {
    width: 24px;
    height: 24px;
  }
  