.pc-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50% !important;
  
  .desc-container{
    font-weight: bold;
    color: #220601;

    h2{
      padding-left: 24rem;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }

  .show-button{
    border: 2px solid #3D0A0A;
    background-color: white;
    border-color: #3D0A0A;
    color: #3D0A0A;
    border-radius: 15px;
    font-size: 16px;
    width: 120px;
  }
}

.content {
  text-align: left;
}

@media (max-width: 768px) {
  .pc-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50% !important;
    
    .desc-container{
      font-weight: bold;
      color: #220601;
      
      h2{
        padding-left: 0;
        margin-left: 20px;
        font-weight: bold;
        align-self: center;
        padding-bottom: 40px;
      }

      p{
        font-size: 15px;
      }
    }
  }
  

}