$background-color: #fffaf0;
$card-background-color: #f3e1d2;
$text-color: #220601;
$shadow-color: rgba(0, 0, 0, 0.2);
$overlay-color: rgba(0, 0, 0, 0.3);

.pet-container {
  text-align: center;
  background-color: $background-color;
  padding: 90px 200px 90px;

  h1 {
    font-size: 40px;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
  }
  .pet-cards {
    display: flex;
    justify-content: center;
    gap: 50px;

    .pet-card {
      width: 250px;
      border-radius: 8px;
      overflow: hidden;
      background-color: $card-background-color;
      box-shadow: 0 4px 8px $shadow-color;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      .pet-name {
        font-size: 30px;
        color: $text-color;
        font-weight: bold;
        background-color: $overlay-color;
        padding: 8px 0;
        text-align: center;
      }
    }
  }

  p {
    font-size: 30px;
    color: $text-color;
    margin-top: 20px;
    font-weight: bold;
  }
  .cat{
    padding-left: 1000px;
  }
}

