.btn{
    background-color: royalblue;
    color: black;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 35px;
}
.btn:hover{
    padding: 20px;
    background-color: black;
    color: #fff;
}