@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
  background-color: transparent !important;
  color: #390510;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  
  background-color: #fffaf0;
}

.navLinks {
  padding: 10px 15px; 
}


.navbar .nav-link {
  text-decoration: none; 
  color: #390510; 
  transition: color 0.3s ease; 
}


.mid{
  padding-right: 40px;
}
.navbar .nav-link:hover  {
  color: #FFCA93; 
}


.navbar .nav-link:focus {
  color: #FFCA93; 
}


.navLinks {
  text-decoration: none;  
  color: #390510; 
  transition: color 0.3s ease; 
}


.navLinks:hover {
  color: #FFCA93; 
}

.navLinks:focus {
  color: #FFCA93; 
}



