@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.jc-container {
  padding-top: 20px;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  font-weight: 300px;
  font-size: 20px;
}

.button-container {
  margin-top: 7.5%;
  display: flex;
  align-content: center;
}

.first,
.second,
.third {
  margin-left: 5rem;
  margin-right: 5rem;
  p {
    margin-top: 0.75rem;
  }
}

.first {
  margin-top: -4rem;
}

.third {
  margin-top: -2rem;
}

.first-button,
.second-button,
.third-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color:#FFCA93;
  color:white;
  border: none;
}

.survey-button {
  border-radius: 15px;
  background-color:#fffaf0; 
  border: solid 2px #390510;
  color: #390510;
  margin-top: 80%;
  margin-bottom: 50%;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bold;
}