
.journey-container {
  padding-top: 100px;
  background-color: #fffaf0;
  color: #390510;
  text-align: center;
  font-weight: bold;


  .journey-header {
  font-size: 40px;
  padding-top: 10px;
  }
}
