.pet-page-container{
    background-color: #fffaf0;

    .pet-page-body{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .back-button-container{
        button{
            text-align: center;
            border: 2px solid #3D0A0A;
            background-color: white;
            border-color: #3D0A0A;
            color: #3D0A0A;
            border-radius: 15px;
            font-size: 16px;
        }
    }
}