//Card Desgin
.card {
    border-radius: 20%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    height: 200px;     
    width: 15rem; 
    cursor: pointer;
    transition: 0.6s;
   &:hover{
        box-shadow: 10px 10px 50px #3D0A0A;
        transform: scale(0.95);
   }
}
  
/* Card Image */
.card-img-top {
    border-radius: 10px 10px 0 0; /* round the top corners of the image */
    object-fit: cover;
    height: 228px;
}
  
/* Card Body */
.card-body {
    background-color: #fff;
    padding: 10px;
}
  
/* Title */
.card-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    //font-family: Nexa Bold,arial,helvetica,sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #3D0A0A;
}

/* Text inside Card */
.card-text {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: #3D0A0A;
    margin-bottom: 10px;
}
  
/* Button inside Card */
.card-body .btn {
    background-color: #3D0A0A;
    border-color: #3D0A0A;
    color: #ffca93;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    
    &:hover {
        background-color: #fff;
        border-color: #3D0A0A;
        color:#3D0A0A;
        border: 3px solid;

    }
}
  
/* Icon Overlay */
.icon-overlay {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    width: 30px; 
    height: 30px;
    object-fit: contain; 
    z-index: 10; 
    cursor: pointer;
}

