.landing-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: #FFCA93;
  padding: 2rem;
  height: 80vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.landing-container .text-section {
  max-width: 560px;
  text-align: center; 
  margin: 0; 
}

.landing-container .text-section .heading {
  font-size: 2.5rem; 
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.landing-container .text-section .sub-text {
  align-self: start;
  font-size: 1rem; 
  color: #fff;
  text-align: left;
}


@media (min-width: 768px) {
  .landing-container {
    flex-direction: row;
    padding: 4rem;
  }

  .landing-container .text-section {
    text-align: left;
    margin-left: 5rem;
    margin-right: 0;
  }

  .landing-container .text-section .heading {
    font-size: 3.5rem;
  }

  .landing-container .text-section .sub-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .landing-container {
    padding: 5rem;
  }

  .landing-container .text-section {
    margin-left: 20rem;
    margin-right: -20rem;
  }

  .landing-container .text-section .heading {
    font-size: 4.5rem; 
  }

  .landing-container .text-section .sub-text {
    font-size: 1.5rem; 
  }
}
