.filter-menu {
  display: block;
  margin: 20px;
  float: left;
  height: 200px;
  width: 300px;

  .filter-dropdown {
    border-radius: 5px;

    // Dropdown items inside the filter dropdown
    .dropdown-item {
      padding: 8px 12px;
      color: #333;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

      &:hover {
        background-color: #e6dfdf;
      }
    }
  }

  // Styling for the dynamic dropdown buttons
  #dropdown-species,
  #dropdown-sex,
  #dropdown-size,
  #dropdown-age,
  #dropdown-breed,
  #dropdown-state {
    color: #3D0A0A;
    background-color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 3px solid #3D0A0A;
  }
}
